@page "/Asszisztens/Allatok/Index"
@model DrPetClinic.Web.Pages.Assistant.Animals.IndexModel
@{
}

<h1>Állatok</h1>

<div class="d-flex justify-content-end">
  <a class="btn btn-outline-primary" asp-page="/Assistant/Animals/Create">Új állat</a>
</div>