@page
@model IndexModel
@{
    ViewData["Title"] = "Profile";
    ViewData["ActivePage"] = ManageNavPages.Index;
}

<h3>@ViewData["Title"]</h3>
<partial name="_StatusMessage" for="StatusMessage" />

<form id="profile-form" method="post" enctype="multipart/form-data">
    <div class="row">
        <div class="col-md-6">
            <div asp-validation-summary="All" class="text-danger" role="alert"></div>


            <div class="form-floating mb-3">
                <input asp-for="Input.Name" class="form-control" placeholder="Please enter your name." />
                <label asp-for="Input.Name" class="form-label"></label>
                <span asp-validation-for="Input.Name" class="text-danger"></span>
            </div>

            <div class="form-floating mb-3">
                <input asp-for="Username" class="form-control" placeholder="Please choose your username." disabled />
                <label asp-for="Username" class="form-label"></label>
            </div>

            <div class="form-floating mb-3">
                <input asp-for="Input.Description" class="form-control" />
                <label asp-for="Input.Description" class="form-label"></label>
                <span asp-validation-for="Input.Description" class="text-danger"></span>
            </div>

            <div class="form-floating mb-3">
                <input value="@Model.TypeDescription" class="form-control" disabled />
                <label class="form-label">Type</label>
            </div>

            <button id="update-profile-button" type="submit" class="w-100 btn btn-lg btn-primary">Save</button>
        </div>

        <div class="col-md-6">
            <div class="fileinput fileinput-new" data-provides="fileinput">
                <div class="fileinput-new img-thumbnail">
                    <img src="@($"/images/profileImages/{Model.Input.ImageFileName}")">
                </div>
                <div class="fileinput-preview fileinput-exists img-thumbnail"></div>
                <div>
                    <span class="btn btn-outline-secondary btn-file">
                        <span class="fileinput-new">Select image</span>
                        <span class="fileinput-exists">Change</span>
                        <input type="file" asp-for="Input.Image">
                    </span>
                    <a href="#" class="btn btn-outline-secondary fileinput-exists" data-dismiss="fileinput">
                        Remove
                    </a>
                </div>
            </div>
        </div>
    </div>
</form>

@section Css {
    <link rel="stylesheet" href="~/lib/jasny-bootstrap/css/jasny-bootstrap.css" />
}

@section Scripts {
    <script src="~/lib/jasny-bootstrap/js/jasny-bootstrap.js"></script>
    <partial name="_ValidationScriptsPartial" />
}
