@page
@model DrPetClinic.Web.Pages.Treatments.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Treatment</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Treatment.Description" class="control-label"></label>
                <input asp-for="Treatment.Description" class="form-control" />
                <span asp-validation-for="Treatment.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Treatment.Amount" class="control-label"></label>
                <input asp-for="Treatment.Amount" class="form-control" />
                <span asp-validation-for="Treatment.Amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Treatment.Date" class="control-label"></label>
                <input asp-for="Treatment.Date" class="form-control" />
                <span asp-validation-for="Treatment.Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Treatment.DoctorId" class="control-label"></label>
                <select asp-for="Treatment.DoctorId" class ="form-control" asp-items="ViewBag.DoctorId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Treatment.AnimalId" class="control-label"></label>
                <select asp-for="Treatment.AnimalId" class ="form-control" asp-items="ViewBag.AnimalId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Treatment.PersonId" class="control-label"></label>
                <select asp-for="Treatment.PersonId" class ="form-control" asp-items="ViewBag.PersonId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
