@page "/Admin/Doktorok/Index"
@model DrPetClinic.Web.Pages.Admin.Doctors.IndexModel
@{
}

<h1>Orvosok</h1>



<div class="d-flex justify-content-end">
  <a class="btn btn-outline-primary" asp-page="/Admin/Doctors/Create">Új orvos</a>
</div>