@page "/Admin/Doktorok/Index"
@model DrPetClinic.Web.Pages.Admin.Doctors.IndexModel
@{
  ViewData["Title"] = "Orvosok";
}

<div class="mt-2">
  <h1>
    <h1>Orvosok</h1>
  </h1>
</div>

<div class="d-flex justify-content-end">
  <a class="btn btn-outline-primary" asp-page="/Admin/Doctors/Create">Új orvos felvétele</a>
</div>

<table class="table table-striped table-bordered mt-3">
  <thead>
    <tr>
      <th>Név</th>
      <th>Leírás</th>
      <th>Műveletek</th>
    </tr>
  </thead>
  <tbody>
    @foreach (var doctor in Model.Doctors)
    {
      <tr>
        <td>@doctor.Name</td>
        <td>@doctor.Description</td>
        <td class="text-center">
          <div class="btn-group" role="group">
            <a class="btn btn-sm btn-outline-primary" asp-page="/Admin/Doctors/Edit" asp-route-DoktorId="@doctor.Id">Szerkesztés</a>
            <a class="btn btn-sm btn-outline-danger" asp-page="/Admin/Doctors/Delete" asp-route-DoktorId="@doctor.Id">Törlés</a>
          </div>
        </td>
      </tr>
    }

    @if (Model.Doctors == null || !Model.Doctors.Any())
    {
      <tr>
        <td colspan="3" class="text-center">Nincsenek megjeleníthető orvosok</td>
      </tr>
    }
  </tbody>
</table>

@section Scripts {
  <script>
    function confirmDelete(deleteUrl) {
      if (confirm("Biztosan törölni szeretnéd az orvost és az összes rendelési idejét?")) {
        window.location.href = deleteUrl;
      }
    }
  </script>
}