@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="mt-5">
    @await Html.PartialAsync("ConsultationTimeWeeklyTable", Model.GroupedConsultationTimes)
</div>

<div class="container mt-5">
    <h1 class="text-center mb-3">Orvosaink</h1>
    @await Html.PartialAsync("DoctorCarousel", Model.Doctors)
</div>